.clients {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-title {
  @extend %style-for-title;
}

.client-list {
  display: flex;

  align-items: center;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.client-list-item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-logo {
  fill: #afb1b8;
  @include transition($prop: fill);
}

.client-list-link {
  @extend %centering;
  @include transition($prop: border-color);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.client-list-link:hover .clients-logo,
.client-list-link:focus .clients-logo {
  fill: $accent-color;
}
