/* стилизация для footer */

footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $footer-background-color;
  color: $primary-white;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.preform {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer-left {
  .logo {
    margin-bottom: 20px;
    color: $primary-white;
    @media screen and (max-width: 1199px) {
      justify-content: center;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;

  .link {
    color: $footer-info-text;
  }
}

.contact-info-mail {
  margin-top: 9px;
  margin-bottom: 9px;

  @media screen and (max-width: 1199px) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.footer-center {
  .social-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-icons {
    fill: $primary-white;
  }

  .social-link:hover,
  .social-link:focus {
    background-color: $accent-color;
  }
}

.call-to-action {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*стилизация формы в футере*/
.form-submit {
  @media screen and (max-width: 1199px) {
    width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
  }
}

.form-submit form {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-submit-email {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;

  drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: $primary-white;

  @media screen and (max-width: 1199px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  &::placeholder {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-submit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}

.form-icon {
  margin-left: 10px;
}
