/* стилизация для header */

.site-navig .logo {
  color: #000000;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 85px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 81px;
  }
}
.menu-button-icons {
  fill: $title-text-color;
  @include transition($prop: fill);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    outline: none;
    .menu-button-icons {
      fill: $accent-color;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
  .icon-close {
    display: none;
  }
}
.menu-button.is-open {
  .icon-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
  &:hover,
  &:focus {
    .icon-close {
      fill: $accent-color;
    }
  }
}

.site-navig .container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;

    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    background: #ffffff;

    &.is-open {
      display: block;
      z-index: 100;
      text-align: center;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }
}

.navig-list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navig-link {
  display: inline-block;

  color: $title-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  @include transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navig-link.current {
  position: relative;
  color: $accent-color;

  @media screen and (max-width: 767px) {
    padding-bottom: 8px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.navig-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.envelope-svg,
.smartphone-svg {
  margin-right: 10px;
  fill: $primary-text-color;

  @include transition($prop: fill);
}

.main-navig-address {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;
  }

  .mail {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  .telephone,
  .mail {
    display: block;
    font-style: normal;
    font-weight: 500;
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 1.17;
    }
    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .telephone:hover,
  .mail:hover,
  .telephone:focus,
  .mail:focus {
    color: $accent-color;
    .smartphone-svg,
    .envelope-svg {
      fill: $accent-color;
    }
  }
}
