/*секция - Наши преимущества*/

.preference {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.preference-list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.preference-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.preference-item-svg {
  @extend %centering;
  height: 120px;
  background-color: $filter-background-color;
  margin-bottom: 30px;
}

.icons {
  fill: $title-text-color;
}

.preference-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.preference-description {
  margin: 0;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
