/* секция - Наши услуги, Наша команда, Постоянные клиенты*/
.services {
  padding-top: 47px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.services-title {
  @extend %style-for-title;
}
.services-list {
  display: flex;
}

.services-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.services-text {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white;
  background-color: rgba(47, 48, 58, 0.8);
}
