html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $primary-white;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $primary-text-color;
}

h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.accent {
  color: $accent-color;
}

.list {
  /*display: flex;*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  scale: 0.1, 0.1;
}
