/*шрифты*/
$primary-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;

/*палитра цветов*/
$primary-text-color: #757575;
$primary-white: #ffffff;
$footer-info-text: rgba(255, 255, 255, 0.6);
$footer-background-color: #2f303a;
$title-text-color: #212121;
$accent-color: #2196f3;
$filter-background-color: #f5f4fa;
